<extends src="layout.html">
    <block name='content'>
        <h1>About</h1>
        <h2>What does this app do?</h2>
        <p>This app transliterates Greek text according to SBL guidelines (<cite>The SBL Handbook of Style</cite> §5.3).
        </p>
        <h2>Why use transliteration?</h2>
        <p>Though the advent of Unicode has allowed many scripts to live in the digital world, transliteration is still
            useful. For starters, many publishers still require it. More importantly, transliterating Greek reveals the
            pronunciation of words to readers who may not have training in ancient languages.</p>
        <h2>Why <i>this</i> methods of transliteration?</h2>
        <p>In technical works, Greek is usually left in its original characters. According to the SBL Handbook:</p>
        <blockquote>In books meant for a broad audience, editors may elect to use a Greek font only in notes and
            parentheses, transliterating Greek words that are necessary in the main text. Thus no provision is made for
            transliteration of <i>iōta</i> subscript, diaeresis, digamma, accents, and the like...</blockquote>
        <p>The following specifications are given for transliterating Greek:</p>
        <ol>
            <li>When a gamma appears before a γ, κ, ξ, or χ (gamma nasal), it is transliterated <i>n</i>.</li>
            <li>The vowels <i>ēta</i> and <i>ōmega</i> should be indicated with a macron.</li>
            <li>Initial ῥ is transliterated <i>rh</i>. The second <i>rhō</i> in medial double <i>rhō</i> is also
                transliterated <i>rhō</i>: e.g., Πύρρος = <i>Pyrrhos</i>.</li>
            <li>When <i>upsilon</i> is part of a diphthong, it is transliterated <i>u</i> (<i>au, eu, ēu, ou, ui</i>).
                When it appears independently, it is transliterated <i>y</i>: e.g., κύριος = <i>kyrios</i>, not
                <i>kurios</i>.</li>
            <li>The rough breathing mark ( ̔) is transliterated <i>h</i> preceding an initial vowel or diphthong: e.g.,
                ὕμνος = <i>hymnos</i>; αἵρεσις = <i>hairesis</i>.</li>
        </ol>

    </block>
</extends>