<extends src='layout.html'>
    <block name='content'>
        <h1>Tips</h1>
        <h2>What's the best text to use?</h2>
        <p>Any unicode Greek text will work. You can enter the text yourself or copy and paste the text from your
            favorite
            online Greek Bible.</p>
        <h2>Some transliterations don't seem right.</h2>
        <p>Feel free to submit an issue on <a href="https://github.com/charlesLoder/greektransliteration/issues"
                target="_blank" rel="noopener noreferrer">GitHub</a> or <a href="contact.html">contact</a> me directly.
        </p>
        <h2>Can I work on the code myself?</h2>
        <p>Yes! The code is freely available on GitHub. Hack away!</p>
    </block>
</extends>