<div class="banner"><a href="index.html">GREEK to TRANSLITERATION</a></div>
<nav>
    <ul class="page-links">
        <li class="{{ pageId === 'index' ? 'selected': undefined}}"><a href="index.html">Home</a></li>
        <li class="{{ pageId === 'about' ? 'selected': undefined}}"><a href="about.html">About</a></li>
        <li class="{{ pageId === 'tips' ? 'selected': undefined}}"><a href="tips.html">Tips</a></li>
        <li class="{{ pageId === 'contact' ? 'selected': undefined}}"><a href="contact.html">Contact</a></li>
    </ul>
    <span id="nav-arrow">&#8964</span>
</nav>