<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ process.env.GA_TAG_ID }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", {{ process.env.GA_TAG_ID }});
    </script>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Halfmoon CSS -->
    <link href="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/css/halfmoon-variables.min.css" rel="stylesheet" />
    <!-- Halfmoon JS -->
    <script src="https://cdn.jsdelivr.net/npm/halfmoon@1.1.1/js/halfmoon.min.js"></script>
    <script src="{{ '/assets/friconix.js ' | url }}"></script>
    <title>{{ config.title }} - {{ title }}</title>
    {% capture css %} {% include '../assets/css/main.css' %}{% endcapture %}
    <style>
      {{css | cssmin | escape}}
    </style>
  </head>
  <body data-set-preferred-mode-onload="true">
    {% if modal %} {% include 'settings-modal.html' %} {% endif %}
    <!-- Page wrapper start -->
    <div class="page-wrapper with-navbar">
      {% include 'header.html' %}

      <!-- Content wrapper start -->
      <div class="content-wrapper position-static bg-light-lm">
        <div class="container">
          <div class="row">
            <div class="col d-flex justify-content-center">
              <main class="card w-full w-md-three-quarter shadow-lg bg-dark-light-dm">
                <div class="txt-area-wrapper d-flex flex-column">{{ content }}</div>
                <div class="dropdown-divider my-15"></div>
                <footer class="d-flex flex-column flex-md-row align-items-center justify-content-between mt-10">
                  <div>&copy;&nbsp;2022 Charles&nbsp;Loder</div>
                  <div class="d-flex flex-row align-items-center mt-10 mt-md-0">
                    <span class="d-none d-md-block">Follow me on</span>
                    {% for icon in config.socialIcons %}
                    <a
                      href="{{ icon.url | url }}"
                      aria-label="{{ icon.text }}"
                      class="social-link ml-5"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      <i class="{{ icon.faIcon }}"></i>
                    </a>
                    {% endfor %}
                  </div>
                </footer>
                <div class="d-flex flex-column flex-md-row mt-5 align-items-center justify-content-between">
                  <div class="font-size-12 text-center text-md-left">
                    transliteration for
                    <a
                      class="hyperlink text-reset"
                      href="https://hebrewtransliteration.app"
                      target="_blank"
                      rel="noopener noreferrer"
                    >
                      Hebrew
                    </a>
                  </div>
                  <div class="font-size-12 font-italic text-center text-md-right">
                    icons by
                    <a
                      class="hyperlink text-reset"
                      href="https://friconix.com/"
                      target="_blank"
                      rel="noopener noreferrer"
                      >friconix</a
                    >
                  </div>
                </div>
              </main>
            </div>
          </div>
        </div>
      </div>
      <!-- Content wrapper end -->
    </div>
    <!-- Page wrapper end -->
    <script>
      const toggle = document.querySelector("#dm-toggle");
      toggle.addEventListener("click", () => halfmoon.toggleDarkMode());
    </script>
  </body>
</html>
